name: CI Pipeline

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '**/*.md'

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha,format=short

      - name: Run tests
        working-directory: app/spring-petclinic
        run: ./mvnw -B test

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            GHCR_IMAGE="ghcr.io/zared82-commits/cloud-production-ci-cd-pipeline:latest"

            sudo apt-get update -y
            sudo apt-get install -y curl
            sudo docker pull "$GHCR_IMAGE"
            sudo docker rm -f petclinic || true
            sudo docker run -d \
            --health-cmd="curl -fsS http://localhost:8080/ || exit 1" \
            --health-interval=30s --health-timeout=5s --health-retries=3 \
            --name petclinic \
            --restart unless-stopped \
            -p 8080:9966 \
            "$GHCR_IMAGE"

            sudo docker ps --filter "name=petclinic"
